# Configuration keys required by this project. Values intentionally omitted.
API_BASE_URL=
APPDATA=
AUTONOMYS_API_KEY=
AUTONOMYS_UPLOAD_ENABLED=
AUTONOMYS_UPLOADS_ENABLED=
INVOCATION_ID=
MAXMIND_DB_PATH=
MINER_CODE=
MONGODB_HOST=
MONGODB_PASSWORD=
MONGODB_USERNAME=
MYST_API_PORT=
PROGRAMDATA=
XMRIG_BIN=
